.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    margin-left: 20px;
}

.image {
    text-align: center;
    animation: zoom-in 1s;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    
}

.section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
}

.contact-section {
    background-color: #fff;
    text-align: center;
}

.contact-buttons {
    margin-top: 20px;
}

.contact-btn,
.donate-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.contact-btn:hover,
.donate-btn:hover {
    background-color: #0056b3;
}

.donate-section {
    text-align: center;
}

/* Keyframe Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.content {
    animation: fadeIn 1s ease-in-out;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }
    
    .image img {
        width: 400px;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .row-reversed {
        display: flex;
        flex-direction: row-reverse;
    }
}